@charset "UTF-8";
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #c0f8ff;
    margin: 20px;
}
h2 {
    color: #003366;
}
h1 {
    color: #006699;
}
#central {
    text-align: center;
    background-color: #006699;
    color: #ffffff;
}
.basico {
    font-size: 20px;
    color: #ffffff;
    background-color: #12E2E6;
}
.intermediario {
    font-size: 18px;
    color: #ffffff;
    background-color: #121AE6;
}
.avancado {
    font-size: 16px;
    color: #ffffff;
    background-color: #121AE6;
}