@charset "UTF-8";

* {
    /*height: 100%;*/
    font-family: Arial, Helvetica, sans-serif;
    background-attachment: fixed;
}

main {
    background-color: #F2F2F2;
    box-shadow: 10px 10px 10px #2e3c1985;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;

}

body {
    background-image: linear-gradient(to right, #77A612, #445925);
}

h1 {
    color: #557314;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(40, 52, 22, 0.566);
}

h2 {
    color: #77A612;
}

p {
    text-align: justify;
}